<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Axies</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="body header-fixed is_dark">
    <!-- preloade -->
    <div class="preload preload-container">
      <div class="preload-logo"></div>
    </div>
    <!-- /preload -->
    <div id="wrapper">
      <div id="page" class="clearfix">
        <%- include('../partials/header.ejs') %>
        <main><%- body %></main>
        <%- include('../partials/footer.ejs') %>
      </div>
    </div>
    <a id="scroll-top"></a>

    <!-- Javascript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/plugin.js"></script>
    <script src="/js/count-down.js"></script>
    <script src="/js/shortcodes.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
  </body>
</html>
