<!-- title page -->
<section class="flat-title-page inner">
  <div class="overlay"></div>
  <div class="themesflat-container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading mg-bt-12">
          <h1 class="heading text-center">Ranking</h1>
        </div>
        <div class="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li>Ranking</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tf-section tf-rank">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="table-ranking">
          <div class="flex th-title">
            <div class="column1">
              <h3>Collection</h3>
            </div>
            <div class="column">
              <h3>Volume</h3>
            </div>
            <div class="column">
              <h3>24h %</h3>
            </div>
            <div class="column">
              <h3>7d %</h3>
            </div>
            <div class="column">
              <h3>Floor Price</h3>
            </div>
            <div class="column">
              <h3>Owners</h3>
            </div>
            <div class="column">
              <h3>Assets</h3>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img1rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img2rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img3rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img4rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img5rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img6rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img1rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img2rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img3rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
          <div class="fl-blog fl-item2">
            <div class="item flex">
              <div class="infor-item flex column1">
                <div class="media">
                  <img src="/images/box-item/img4rank.jpg" alt="Images" />
                </div>
                <div class="content-collection pad-t-4">
                  <h5 class="title mb-15"><a href="detail">"Hamlet Contemplates Yorick's Yorick's</a></h5>
                  <div class="author flex">
                    <div class="author-avatar">
                      <img src="/images/avatar/author_rank.jpg" alt="Images" />
                      <div class="badge"><i class="ripple"></i></div>
                    </div>
                    <div class="content">
                      <p>Owned By</p>
                      <h6><a href="#">SalvadorDali</a></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <span>12,4353</span>
              </div>
              <div class="column td2">
                <span>+3456%</span>
              </div>
              <div class="column td3">
                <span>-564%</span>
              </div>
              <div class="column td4">
                <span>12,4353 ETH</span>
              </div>
              <div class="column td5">
                <span>3.3k</span>
              </div>
              <div class="column td6">
                <span>23k</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 wrap-inner load-more text-center mg-t16">
          <a href="#" id="loadmore" class="sc-button loadmore fl-button pri-3"><span>Load More</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
